* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100%;
}

/* HEADER CSS 1100px */
header {
  background-color: black;
}
header .headerDiv {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
header .inputStyle {
  background-color: transparent;
  border-bottom: 1px solid white;
  border-radius: 50px;
  height: 50px;
  width: 40vh;
  font-size: 16;
  text-align: center;
  color: white;
}

.navbarDiv {
  display: flex;
  align-items: flex-end;
}
.navbarDiv h1 {
  text-align: center;
}

.navbar-brand {
  font-size: 40px;
  text-transform: uppercase;
}
.navbar-brand a {
  color: white;
  text-decoration: none;
}
.navbar-brand a:hover {
  color: grey;
}

/* FIN HEADER CSS */
/* MAIN INDEX CSS */
.carousel {
  margin-bottom: 10px;
  margin-top: 10px;
}
.carousel .carrouselSize {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.divJoggers {
  margin-top: 30px;
  margin-bottom: 30px;
}
.divJoggers img {
  border: 5px solid black;
  margin-bottom: 30px;
  object-fit: contain;
}

.allProducts {
  display: flex;
  justify-content: center;
}
.allProducts .buttonAllProducts {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 35px;
  font-size: 30px;
  color: white;
  background-color: black;
  text-decoration: none;
}

.aboutUsIndex {
  padding-top: 60px;
}
.aboutUsIndex h2 {
  font-size: 30px;
}
.aboutUsIndex p {
  font-size: 20px;
}
.aboutUsIndex .tituloAboutUsIndex {
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.aboutUsIndex .parrafoAboutUsIndex {
  text-align: center;
  padding-top: 10px;
}

.aboutUsImagenSize {
  padding-top: 50px;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

/* Main Sizetable CSS */
.tablaTitulo {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
}

.tablaHombreSubtitulo {
  padding-top: 30px;
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-align: center;
}

.tablaMujerSubtitulo {
  padding-top: 30px;
  color: rgb(132, 64, 76);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-align: center;
}

.table {
  width: 50%;
  height: auto;
}

/* Fin Sizetable CSS */
/* Productos css */
.tituloProductos {
  font-size: 32px;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 30px;
}

/* Button all products sections */
.todosLosProductos {
  width: 99.7%;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  outline: none;
  border: 1px solid #000;
  color: white;
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.todosLosProductos:hover:after {
  top: 0;
  text-align: center;
  left: 0;
}
.todosLosProductos:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: black;
  text-align: center;
}

/* ------------------ */
.divProductos {
  display: grid;
  grid-template-areas: "primerArticle segundoArticle tercerArticle" "cuartoArticle quintoArticle sextoArticle" "septimoArticle octavoArticle novenoArticle" "decimoArticle . .";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 25%);
  text-transform: capitalize;
  color: white;
  margin-left: 10px;
  grid-row-gap: 20px;
}

.tituloProductos {
  color: white;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 15px;
  text-decoration: none;
  text-align: center;
}

.primerArticle {
  grid-area: primerArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.primerArticle h3 {
  text-align: center;
  text-decoration: none;
  color: #000;
}
.primerArticle h4 {
  color: #000;
}
.primerArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.segundoArticle {
  grid-area: segundoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.segundoArticle h3 {
  text-align: center;
  color: #000;
}
.segundoArticle h4 {
  color: #000;
}
.segundoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.tercerArticle {
  grid-area: tercerArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.tercerArticle h3 {
  text-align: center;
  color: #000;
}
.tercerArticle h4 {
  color: #000;
}
.tercerArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.cuartoArticle {
  grid-area: cuartoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.cuartoArticle h3 {
  text-align: center;
  color: #000;
}
.cuartoArticle h4 {
  color: #000;
}
.cuartoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.quintoArticle {
  grid-area: quintoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.quintoArticle h3 {
  text-align: center;
  color: #000;
}
.quintoArticle h4 {
  color: #000;
}
.quintoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.sextoArticle {
  grid-area: sextoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sextoArticle h3 {
  text-align: center;
  color: #000;
}
.sextoArticle h4 {
  color: #000;
}
.sextoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.septimoArticle {
  grid-area: septimoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.septimoArticle h3 {
  text-align: center;
  color: #000;
}
.septimoArticle h4 {
  color: #000;
}
.septimoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.octavoArticle {
  grid-area: octavoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.octavoArticle h3 {
  text-align: center;
  color: #000;
}
.octavoArticle h4 {
  color: #000;
}
.octavoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.novenoArticle {
  grid-area: novenoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.novenoArticle h3 {
  text-align: center;
  color: #000;
}
.novenoArticle h4 {
  color: #000;
}
.novenoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.decimoArticle {
  grid-area: decimoArticle;
  text-align: center;
  background: rgba(146, 141, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 100px;
}
.decimoArticle h3 {
  text-align: center;
  color: #000;
}
.decimoArticle h4 {
  color: #000;
}
.decimoArticle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

/* Fin productos CSS */
/* CARRITO */
.cartBox {
  min-height: 300px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.footCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textTable {
  text-align: center;
}

.iconShopping {
  padding-left: 10px;
  z-index: 1;
  position: relative;
  font-size: 1.8rem;
  color: white;
}
.iconShopping a {
  color: white;
}
.iconShopping p {
  position: absolute;
  top: -5px;
  right: -12px;
  font-size: 0.69rem;
  background-color: white;
  padding: 5px 5px;
  color: #000;
  border-radius: 50%;
}

.achedosTitleCart {
  margin-bottom: 30px;
}

/* Articles */
.divArticleBuzo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleBuzo article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleBuzo img {
  width: 75%;
  height: 300px;
  object-fit: contain;
}

.divArticleRemera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleRemera article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleRemera img {
  width: 75%;
  height: 300px;
  object-fit: contain;
}

.divArticleConjuntos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleConjuntos article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleConjuntos img {
  width: 75%;
  height: 300px;
  object-fit: contain;
}

.divArticleAccs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleAccs article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleAccs img {
  width: 75%;
  height: 300px;
  object-fit: contain;
}

.divArticleJogger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleJogger article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleJogger img {
  width: 75%;
  height: 300px;
  object-fit: contain;
}

.divArticleBermuda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleBermuda article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  border: 4px #000 solid;
}
.divArticleBermuda img {
  width: 75%;
  height: 300px;
  object-fit: contain;
}

/* Fin Articles */
/* FAQ CSS */
.divFaq h2 {
  padding-top: 40px;
  text-align: center;
  text-decoration: underline;
  color: rgb(85, 20, 32);
}
.divFaq h3 {
  padding-top: 10px;
  padding-left: 15px;
  color: rgb(85, 20, 32);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: 16px;
}
.divFaq p {
  padding-left: 15px;
  font-size: 16px;
}

.googleMaps {
  padding-top: 100px;
}

/* Fin FAQ CSS */
/* Contact CSS */
.contactDiv {
  padding-bottom: 30px;
}
.contactDiv h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  color: rgb(77, 64, 64);
  padding-top: 30px;
  margin-bottom: 30px;
}
.contactDiv h3 {
  text-align: center;
  text-decoration: underline;
}
.contactDiv img {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  width: 80%;
}

.form-group {
  margin: 0;
  padding: 0;
}

.formSize {
  width: 90%;
}

/* Fin contact css */
/* About us CSS */
.quienesDiv {
  padding-top: 30px;
}
.quienesDiv h2 {
  color: rgb(157, 109, 116);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  text-decoration: underline;
}
.quienesDiv p {
  width: 100%;
  height: auto;
}
.quienesDiv ul {
  list-style-type: none;
}

.materialDiv {
  width: 60%;
  height: auto;
}
.materialDiv h2 {
  color: rgb(85, 20, 32);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  text-decoration: underline;
  padding-top: 10px;
}
.materialDiv dl {
  list-style-type: square;
  text-align: left;
}
.materialDiv li {
  padding-left: 10px;
  text-transform: uppercase;
}

/* Fin About us CSS */
/* FOOTER CSS */
footer {
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  margin-top: 60px;
}

.divFootNavegacion {
  padding-bottom: 20px;
}
.divFootNavegacion h3 {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.divFootNavegacion li {
  text-decoration: none;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.divFootNavegacion a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.divFootPagos {
  text-align: center;
  padding-bottom: 30px;
  list-style-type: none;
}
.divFootPagos h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.divFootPagos div {
  margin: 5px 10px 5px 5px;
}
.divFootPagos i {
  font-size: 30px;
  padding: 5px 10px 5px 5px;
}

.divFootRedes {
  padding-bottom: 30px;
  text-align: center;
  list-style-type: none;
}
.divFootRedes h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.divFootRedes a {
  font-size: 30px;
  padding: 10px 10px;
  color: white;
}

.footerDiv {
  align-items: center;
  list-style-type: none;
}

.newsletterFont {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.newsletter {
  align-content: center;
}

.inputStyle2 {
  background-color: transparent;
  border-bottom: 1px solid white;
  border-radius: 50px;
  height: 30px;
  width: 150px;
  font-size: 16;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

/* Responsive index */
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }

  .barraBusquedaHeader {
    display: block;
    align-items: center;
    height: 30px;
    width: 100%;
  }

  img {
    width: 100%;
  }

  .menuPadre {
    width: 100%;
    text-align: center;
    float: left;
    display: block;
  }

  .menuHijo {
    width: 100% !important;
    text-align: center;
    float: left;
  }

  .carrouselSize {
    width: 100%;
    height: auto;
  }

  .aboutUsIndex {
    height: 400px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .aboutUsIndex .tituloAboutUsIndex {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 3px;
    padding-left: 30px;
  }
  .aboutUsIndex .parrafoAboutUsIndex {
    font-size: 20px;
    height: 300px;
    width: 100%;
    padding-top: 30px;
    padding-left: 32px;
    position: relative;
  }

  .newsletterImputCorreo {
    width: 100%;
  }

  .divProductos {
    display: flex;
    flex-direction: column;
  }

  footer {
    position: relative;
    margin-top: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 250px;
  }

  .formFooter {
    text-align: center;
  }

  /* faq responsives */
  .googleMaps {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 880px) {
  .divProductos {
    display: flex;
    flex-direction: column;
  }

  .formFooter {
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
